@page
@model ErrorModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Mikrotik Wireguard management panel">
    <meta name="author" content="Kazem Ma79">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Mikrotik, RouterOS, Wireguard, MTWireguard">
    <title>Error</title>

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="assets/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/libs/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="assets/css/core.css" rel="stylesheet">

    <!-- Theme Style Switcher-->
    <script src="assets/js/themeSwitcher.js"></script>
</head>
<body>
    <div class="min-vh-100 d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="clearfix">
                        <h1 class="float-start display-3 me-4">500</h1>
                        <h4 class="pt-3">@ViewBag.Title</h4>
                        <h6>@ViewBag.Message</h6>
                        <p class="text-medium-emphasis">@Html.Raw(ViewBag.Details)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/lib/jquery/js/jquery.min.js"></script>
    <script src="assets/libs/jquery-ui/jquery-ui.min.js"></script>
</body>
</html>
