@page
@model MTWireGuard.Pages.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Mikrotik Wireguard management panel">
    <meta name="author" content="Kazem Ma79">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Mikrotik, RouterOS, Wireguard, MTWireguard">
    <title>MTWireguard - Login</title>

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="assets/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/libs/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="assets/css/core.css" rel="stylesheet">
    <style>
        body {
            background-image: url(img/background.jpg);
            background-attachment: fixed;
        }

        body > div:first-of-type {
            backdrop-filter: blur(5px);
        }
    </style>

    <!-- Theme Style Switcher-->
    <script src="assets/js/themeSwitcher.js"></script>
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Sign In Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="card card-transparent rounded-3">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fa fa-hashtag me-2"></i> MTWireguard
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <img src="/img/logo.png" class="mx-auto" style="max-width: 50%; text-align: center;">
                            </div>
                            <form id="loginForm" action="#" method="post" onsubmit="return false;">
                                <div class="alert alert-danger" role="alert" id="loginAlert" style="display: none;">Invalid username or password !</div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="loginName" name="username" placeholder="admin">
                                    <label for="loginName">Username</label>
                                </div>
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="loginPassword" name="password" placeholder="Password">
                                    <label for="loginPassword">Password</label>
                                </div>
                                <div class="d-flex align-items-center justify-content-between my-4">
                                    <div class="form-check">
                                        <input type="checkbox" id="loginRemember" name="remember">
                                        <label class="form-check-label" for="loginRemember">Remember me</label>
                                    </div>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#ForgotModal">Forgot Password</a>
                                </div>
                                <div class="input-group align-items-center mb-3">
                                    <i class="bx bx-sm bx-terminal color-green mx-2"></i>
                                    <input class="mt-0 me-1" type="checkbox" id="isAdmin" name="isAdmin" aria-label="Login as system admin">
                                    <label class="form-check-label" for="isAdmin">Login as system admin</label>
                                </div>
                                <button type="submit" class="btn btn-primary text-uppercase py-3 w-100 mb-4">Sign in</button>
                                <p class="text-center mb-0">Don't have an Account? <a asp-page="Signup">Sign Up</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign In End -->
    </div>

    <!-- Forgot Modal -->
    <div class="modal fade" id="ForgotModal" tabindex="-1" aria-labelledby="ForgotModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ForgotModalLabel">Forgot Password ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Contact service owner to reset your password.<br />If you're system administrator, change the mikrotik user's password.'</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="js/APIClient.js"></script>
    <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/lib/jquery/js/jquery.min.js"></script>
    <script src="assets/libs/jquery-ui/jquery-ui.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/page-login.js"></script>
</body>

</html>