#sidebar {
    background: #343a40;
}

#sidebar .logo {
    font-size: 2rem;
}

#sidebar ul li a {
    padding: 0;
    border-radius: .5rem;
    border-bottom: 3px solid;
    outline: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
}

#sidebar ul li a span {
    margin-right: 15px;
    width: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    font-size: 1.25rem;
    margin-right: .25rem;
}

#sidebar ul.components li a {
    --bs-primary: #4582ec;
    padding: 10px 0;
    color: var(--bs-primary);
    background-color: rgba(105,108,255,.16) !important;
    border-color: var(--bs-primary);
}

#sidebar.active ul.components li a {
    flex-direction: column;
}

#logTable .log-level {
    border-radius: 5px;
    user-select: none;
}
