<div class="modal modal-sm fade" id="QRModal" tabindex="-1" aria-labelledby="QRModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="QRModalLabel">user's QR Code</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center m-0">
                <span class="badge rounded-pill text-bg-danger my-2">Wireguard</span>
                <img id="qr-src" src="" alt="QR" width="256" height="256">
                <hr />
                <span class="badge rounded-pill text-bg-secondary my-2">V2ray</span>
                <img id="v2ray-src" src="" alt="QR" width="256" height="256">
            </div>
        </div>
    </div>
</div>

@code {

}
