<div class="modal fade" id="QRModal" tabindex="-1" aria-labelledby="QRModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="QRModalLabel">Scan This</h5>
            </div>
            <div class="modal-body">
                <img id="QRImage" src="" class="img-thumbnail" />
            </div>
        </div>
    </div>
</div>

@code {

}
