<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasSyncUser" aria-labelledby="offcanvasSyncUserLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasSyncUserLabel" class="offcanvas-title">Sync User</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body mx-0 flex-grow-0">
        <form class="add-new-user pt-0" id="syncUserForm" onsubmit="return false">
            <input type="hidden" id="sync-id" name="ID">
            <div class="mb-3">
                <label class="form-label" for="sync-username">Username</label>
                <input type="text" class="form-control" id="sync-username" name="Username" aria-label="Username" />
            </div>
            <div class="form-password-toggle mb-3">
                <label class="form-label" for="sync-password">Password</label>
                <div class="input-group input-group-merge">
                    <input type="password" class="form-control" id="sync-password" name="Password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="sync-password-eye" />
                    <span id="sync-password-eye" class="input-group-text password-eye"><i class="bx bx-hide"></i></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit">Submit</button>
            <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="offcanvas">Cancel</button>
        </form>
    </div>
</div>