@page "{handler?}"
@using MTWireGuard.Models.Mikrotik
@model MTWireGuard.Pages.ServersModel
@{
    ViewData["Title"] = "Servers";
    ViewData["Breadcrumb"] = "Interfaces";
}

<div class="table-responsive">
    <table class="table border mb-0">
        <thead class="table-light fw-semibold">
            <tr class="align-middle">
                <th class="text-center">
                    <svg class="icon">
                        <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-people"></use>
                    </svg>
                </th>
                <th>Name</th>
                <th>Listen Port</th>
                <th>MTU</th>
                <th>Public-Key</th>
                <th>Traffic</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="row mt-2">
    <div class="col-12">
        @await Component.InvokeAsync("CreateServerForm")
    </div>
</div>

<!-- Delete Modal -->
@await Component.InvokeAsync("DeleteModal", new {
    IsServer = true
})

<!-- Edit Modal -->
@await Component.InvokeAsync("UpdateServerModal")

@section Scripts {
    <script src="js/wireguard.js"></script>
    <script src="js/wgelements.js"></script>
}
